
<section class="topbar">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
               
             </div>
            <div class="col-md-4">
               <h2>E-way Bill System</h2>
             </div>
             <div class="col-md-4">
               <a [routerLink]="'/billsystem'"> bill System</a>
            <span>-----</span>
               <a [routerLink]="''">Form</a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>