<section id="bill-system">
<!-- <section class="topbar"> -->
    <!-- <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
               
             </div>
            <div class="col-md-4">
               <h2>E-way Bill System</h2>
             </div>
             <div class="col-md-4">
               
             </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <!-- top heading
   -->
  <h3 class="top-heading">Holisol Logistics Pvt Ltd</h3>
  
  <!-- eway bill detail -->
  <section class="bill-detail"> 
  <div class="container">
    <h4 class="section-heading">1. E-way Bill Details</h4>
    <div class="row bg-black">
      
      <div class="col-md-4">
         <ul class="form-detail">
           <li>e-way bill number:1711 7789 5879</li>
           <li>Mode:Road</li>
           <li>Type:outward supply</li>
         </ul>
      </div>
      <div class="col-md-4">
        <ul class="form-detail">
           <li>Genrated Date:25 Nov 2019</li>
           <li>Approx Distance:656 Km</li>
           <li>Document Detail:Tax Invoice-111-1-15/12/2017</li>
         </ul>
      </div>
      <div class="col-md-4">
         <ul class="form-detail">
        <li>Genrated By:29 AAC CH236 4p1z3</li>
           <li>Vaild Upto:28/11/2019</li>
           <li>Transaction type: Combination of 2 and 3</li>
         </ul>
      </div>
    </div>
  </div>
  </section>
  
  <!-- Address detais -->
  <section class="address-form">
    <div class="container">
    <h4 class="section-heading">2. Address detais</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="from-wrapper">
          <h5>From</h5>
          <textarea>
          
            GSTIN:29AAC CH236 4P1Z3 welton Uttarakhand
              Dispatch form:
             2nd cross no 59 19 A
             Ground flore osborne road
             frazer town Uttarakhand-263652
             </textarea>
        </div>
      </div>
      <div class="col-md-6">
          <div class="from-wrapper">
             <h5>To</h5>
            <textarea>
          
            GSTIN:02EHF PS591 OD2ZO Sthuthy Himachal pradesh
              Dispatch form:
             Shri Nilaya
             dasarahosahalli
             Bemi nagar , Himachal pradesh-176036
             </textarea>
        </div>
  
      </div>
      
      </div>
    </div>
  </section>
  
  <!-- good details -->
  <section class="good-detals">
    <div class="container">
      <h4 class="section-heading">3. Goods Details</h4>
      <div class="row">
         <table class="table">
      <thead>
        <tr>
          <th>HSN CODE</th>
          <th>Product Name & DESC</th>
          <th>Quantity</th>
          <th>Texable Amount Unit</th>
          <th>Tex Rate(c+s+i+css+css non advol)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1001</td>
          <td>Wheat & wheat</td>
          <td>4.00 box</td>
          <td>5609.00</td>
          <td>0.00+0.00+3.000+0.00+0.00</td>
        </tr>
        
      </tbody>
    </table>
    <ul class="inline-box">
       <li>TOT. Taxable Amt &#8377; 56099.00</li>
        <li>cgst Amt &#8377; 00.00</li>
        <li>Sgst Amt &#8377; 00.00</li>
        <li>Igst Amt &#8377; 300.67</li>
        <li>Cess Amt &#8377; 300.67</li>
        <li>Cess non advol amt &#8377; 400.00</li>
        <li>Other  amt &#8377; 100.00</li>
         <li>Totel inv  amt &#8377; 100.00</li>
    </ul>
      </div>
    </div>
    
  </section>
  
  <!-- transport detail -->
  <section class="transport-detail">
  <div class="container">
    <h4 class="section-heading">4. Transportation Details</h4>
    <div class="row">
      <ul class="list-inline">
         <li>Transporter Id & Name:05AAACH6188F1ZM & M/S The Hindustan Trust PVT LTD</li>
         <li>Transporter Doc Number and date:</li>
      </ul>
    </div>
  </div>
  </section>
  
  <!-- vehicle detail -->
   <div class="container">
      <h4 class="section-heading">5.Vehicle Detail  </h4>
     <div class="row">
      
         <table class="table">
      <thead>
        <tr>
          <th>Mode</th>
          <th>Vehicle/trans Doc no & DT</th>
          <th>Form</th>
          <th>Entered Date</th>
          <th>Enterd by</th>
          <th>CEWB no (if any)</th>
          <th>Multi veh info (if any)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Road</td>
          <td>PVC123</td>
          <td>Frazer Town</td>
          <td>21-11-2019 4:00pm</td>
          <td>29AACCH2364P1Z3</td>
          <td>-</td>
          <td>-</td>
        </tr>
        
      </tbody>
    </table>
     </div>
   </div>
</section>
