@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');



h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}
   p {
    line-height: 1.9;
    color: #666666;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
a:hover {
    text-decoration: none !important;
}

button.btn.btn-primary {
    padding: 3px 0px;
    width: 8%;
    margin-left: 10px;

}

section.topbar {
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    color: #fff;
    padding: 25px;
}
section.gst-section {
    background-color: #333;
    color: #fff;
    padding: 15px 0px;
    font-size: 12px;
}
.gst-section h3 {
    font-size: 15px;
}

section.transaction-section {
    padding: 15px 0px;
}

.transaction-section  h6.section-heading {
    background-color:#333;
    text-align:center;
    color:#fff;
    padding:5px 0px;
}
form.col-one .form-group {
    display: inline-block;
}
.form-group.row label {
    width: 50%;
}
form {
    width: 100%;
}
.row.first-wrap {
    padding: 15px 15px;
}

input.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
}

select {
    border: 1px solid #ccc;
    height: 40px;
}
.cleafix {
    visibility: hidden;
}
.heading {
    background-color: #333;
    text-align: center;
    color: #fff;
        margin-bottom: 25px;
}
.row.border-section {
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 25px 15px;
}
.form-control::-webkit-input-placeholder {
    color: #969191 !important;
    text-transform: capitalize;
        font-size: 13px;
}
select::-webkit-input-placeholder {
    color: #969191 !important;
    text-transform: capitalize;
}

select {
   color: #969191 !important;
       font-size: 13px;
    }
    
    label.form-check-label {
    font-size: 15px;
    color: #333;
}
.row.first-wrap.form-center {
    display: block;
    margin: 0 auto;
}
input[type="date"] {
    color: #ccc;
    font-size: 13px;
}
.form-inline label {
    width: 25%;
}
.form-inline input {
    width: 25%;
    height:40px;
    margin-right:5px;
}

.btn-grop {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-grop a {
text-transform:uppercase;
font-size:13px;
margin-left:10px;
}
.pay-form label {
    font-size: 13px;
}
p.from-name {
    font-size: 15px;
    color: #fff;
}

// new chnages here

.col-lg-.pt-1.pb-1.work1 {
    margin-left: -14px;
}
.work2 {
    margin-left: -14px;
}
// .col-lg-1.pt-1.pb-1.work3 {
//     margin-left: -14px;
// }

.col-lg-2.pt-1.pb-1.line-one {
    margin-left: -18px;
}
.col-lg-2.pt-1.pb-1.line-two {
    margin-left: -31px;
}
.col-lg-1.pt-1.pb-1.line-three {
    margin-left: -30px;
}
.col-lg-1.pt-1.pb-1.line-four {
    margin-left: -30px;
}
.col-lg-1.pt-1.pb-1.line-five {
    margin-left: -30px;
}
.col-lg-2.pt-1.pb-1.line-six {
    margin-left: -31px;
}







@media (max-width:996px){
    textarea{
        width: 100%;
        max-width: 100%;
    }
}